<ion-header>
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="!data?.articles">
  <div class="ion-padding custom-skeleton">
    <ion-card padding *ngFor="let i of [1,2,3,5,6,8,6]">

      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-card>
  </div>
</div>
<ion-content *ngIf="data?.articles">
  <ion-card class="welcome-card" *ngFor="let article of data?.articles" (click)="goToDetailed(article)">
    <!-- <ion-img src="https://source.unsplash.com/800x500/?coding"></ion-img> -->
    <ion-card-header>
      <ion-card-subtitle>{{article.author}} <br>
        {{article.publishedAt | date}}
      </ion-card-subtitle>
      <ion-card-title>{{article.title}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ article.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>